* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
    align-items: center;
    justify-content: center;
  height: 400px;
  width: 400px;
  background-color: #3faf82;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.line {
    position: relative;
    left: 47%;
    top: 43%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 8px;
    border-radius: 5px;
    background-color: aliceblue;
    margin:10px;
    
}
